<header id="navbar" class="navSection">
   
        <nav class="navbar navbar-default" style="margin:auto; background-color:#3e464c; color:#D2D2D2; border:0;">
            <div class="container-fluid">
                 <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li style="height:59px;">
                            <h1 class="logo">
                                <span style="color:#2196F3">Summoner</span> <span style="color:#BBDEFB">Statistics</span>
                            </h1>
                        </li>
                        <li style="height:59px;">
                            <a href="#/" style="color:#00BCD4; padding:20px;">Summoner Statistics</a>
                        </li>
                        <li style="height:59px;">
                            <a href="#/current-game" style="color:#00BCD4; padding:20px;">    Current Game
                            </a>
                        </li>
                    </ul>
                    <!-- anything that should float right on the navbar.!-->
                    <ul class="nav navbar-nav navbar-right"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    

    <span class="alert alert-danger" ng-show="!summoner.leagueInfo && summoner" style="height:50px;">No current rank information</span>
</header>
